@using SitefinityWebApp.Mvc.Models.Enums 
@model SitefinityWebApp.Mvc.Models.MainSearchModel
    <div id="searchFormId" class="SearchForm">
        <div class="topPart">
            <div>
                @Html.Label("Where would you like to go?") 
                @Html.RadioButtonFor(b=>b.SearchRegion,HotelGlobalRegions.GreatBritainHotels.ToString())  @HotelGlobalRegions.GreatBritainHotels.ToString()
                @Html.RadioButtonFor(b=>b.SearchRegion,HotelGlobalRegions.InternationalHotels.ToString())  @HotelGlobalRegions.InternationalHotels.ToString()
            </div>
        </div>
        <div class="bottomPart">
            <div id="searchStringId">
                <input type="text" />
              @*  @Html.EditorFor(x=>x.SearchString)*@
            </div>
            <div id="checkInDateDiv">
                <input type="text" />
        @*        @Html.EditorFor(x=>x.CheckInDate)*@
                <label id="selectedCheckInDay">
                    Friday</label>
            </div>
            <div id="numberOfNightsDiv">
                <select name="NumberOfNights" id="NumberOfNights">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <label id="selectedCheckOutDate">
                    7 Dec 2012</label>
            </div>
            <div id="findIt">
                <input type="submit" value="Find It"/>
            </div>
        </div>
    </div>
